.ideas
	&__header
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 155px;
		margin-left: 18px;
	&__title-row
		flex-basis 62%;
	&__title
		font:700 60px/60px $f-primary;
	&__description
		font:500 20px/25px $f-primary;
		margin-top: 12px;
		margin-left: 2px;
		z-index: 2;
		position: relative;
	&__img-row
		flex-basis: 30%;
		position: relative;
		> img
			&:first-child
				position: relative;
				left: 36px;
				top: -11px;
				z-index: 1;
			&:last-child
				position: absolute;
				left: 48px;
				z-index: 2;
				top: 104px;
	&__example
		display: flex;
		justify-content: space-between;
		margin-top: -32px;
		&--second
			margin-top: 0;
		//@media screen and (max-width:700px)
		//	flex-wrap: wrap;
	&__text-row
		&--first
			flex-basis: 35%;
			position: relative;
			//@media screen and (max-width:700px)
			//	left:0;
			//	padding-left: 20px;
		&--second
			margin-top: 126PX;
			margin-left: 20px;
		//@media screen and (max-width:700px)
		//	flex-basis:100%
	&__img
		&--first
			position: relative;
			top: -32px;
			left: -60px;
			//@media screen and (max-width:360px)
			//	left:-15px;
		&--second
			margin-top: 60px;
			position: relative;
			left: 60px;
		img
			//max-width: calc(100vw - 387px);
			//@media screen and (max-width:700px)
			//	max-width: 100vw;
	&__subtitle
		font:700 30px/35px $f-primary;
		flex-basis 40%;
	&__text
		font:500 20px/25px $f-primary;
		margin-top: 12px;
	&__button
		flex-basis: 100%;
		max-width 210px;
		margin-top: 36px;
		&--second
			margin-top: 11px