.ideas(id="ideas")
	.ideas__header
		.ideas__title-row
			.ideas__title Идеи для фотокниг
			.ideas__description Фотокнига идеально подойдет как подарок на любой праздник. Для того что бы вам проще было подобрать контент, мы сделали подборку лучших фотокниг, сделанных&nbsp;в&nbsp;Sweetbook
		.ideas__img-row
			img(alt="" src="assets/images/common/5.png")
			img(alt="" src="assets/images/common/snowflake-blue3.png")

	.ideas__example.ideas__example--first
		.ideas__img.ideas__img--first
			img(alt="" src="assets/images/examples/12.png")
		.ideas__text-row.ideas__text-row--first
			.ideas__subtitle Детская фотокнига
			.ideas__text Детская книга это отличный подарок на день рождения. Детская книга это отличный подарок на день рождения. Детская книга это отличный подарок на день рождения. Детская книга это отличный подарок на день рождения.
			a.ideas__button.button(href="https://sweetbook.su/constructor") Создать такую фотокнигу

	.ideas__example.ideas__example--second
		.ideas__text-row.ideas__text-row--second
			.ideas__subtitle Свадебная фотокнига
			.ideas__text Детская книга это отличный подарок на день рождения. Детская книга это отличный подарок на день рождения.Детская книга это отличный подарок на день рождения. Детская книга это отличный подарок на день рождения.
			a.ideas__button.button.ideas__button--second(href="https://sweetbook.su/constructor") Создать такую фотокнигу
		.ideas__img.ideas__img--second
			img(alt="" src="assets/images/examples/11.png")



