mixin delivery (number, item, descr)
	li.delivery__items
		.delivery__number !{number}
		.delivery__item !{item}
		.delivery__description.delivery__description--item !{descr}
.delivery(id="delivery")
	h2.delivery__title Доставка и оплата
	.delivery__description Доставка по территории РФ, почтой России. Оплата разными способами.
	.delivery__row
		.delivery__procedure
			h4.delivery__subtitle Порядок и сроки доставки
			ul.delivery__menu
				+delivery('1','Оплата заказа','')
				+delivery('2','Изготовление книги','2-4 дня')
				+delivery('3','Отправка заказа','1 день')
				+delivery('4','Доставка','2-9 дней')
				+delivery('','Итого 5-14 дней','')
		.delivery__cash
			h4.delivery__subtitle Способы оплаты
			.delivery__img-row
				img(alt="" src="assets/images/cash/1.png")
				img(alt="" src="assets/images/cash/2.png")
				img(alt="" src="assets/images/cash/3.png")
			.delivery__description.delivery__description--cash Оплата происходит через сервис «Яндекс Касса», который поддерживает в том числе банковские карты Visa и Mastercard.
				img.delivery__airplane(alt="" src="assets/images/cash/airplane.png")
