.delivery
	margin-top: -237px;
	//@media screen and (max-width:920px)
	//	margin-top: 0;
	&__title
		font:700 60px/60px $f-primary;
		margin-left: 17px;
		//@media screen and (max-width:390px)
		//	font:700 43px/60px $f-primary;
	&__description
		font:500 20px/25px $f-primary;
		margin-top: 12px;
		margin-left: 20px;
		&--item
			font:200 24px/29px $f-primary;
			flex-basis: 100%;
			position: relative;
			top: -30px;
			left: -3px;
			&:nth-child(4)
				color:blue;
		&--cash
			margin-left: 17px;
			margin-top: 17px;
			position: relative;
			top: 6px;
	&__img-row
		margin-top: 37px;
		img
			margin-left: 30px;
			&:first-child
				position: relative;
				left: -11px;
	&__row
		display: flex;
		flex-wrap: wrap;
	&__items
		display: flex;
		flex-wrap: wrap;
	&__subtitle
		font:700 30px/35px $f-primary;
		margin-top: 39px;
		margin-left: 19px;
		flex-basis: 100%;
	&__menu
		margin-top: 33px;
	&__number
		box-shadow: 0 0 10px 1px #EAEAEA;
	&__number:not(:last-child)
		font:300 18px/24px $f-primary;
		border-radius: 50%;
		background-color: #fff;
		width: 38px;
		height: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin-left: -38px;
		top: -3px;
	&__item
		font:500 24px/29px $f-primary;
		margin-left: 20px;
		position: relative;
		&:nth-child(2)
			top: -12px;
	&__procedure
		display: flex;
		flex-wrap: wrap;
		flex-basis: 50%;
		//@media screen and (max-width:970px)
		//	flex-basis: 100%;
	&__cash
		max-width 450px;
	&__airplane
		margin-left: 146px;
		//@media screen and (max-width:465px)
		//	margin-left: 0;
	&__items
		.delivery__number
			position: relative;
			top: -12px;
	&__items:last-child
		.delivery__number
			display: none;
	&__items
		&:first-child
			top: -7px;
			position: relative;
		&:nth-child(4)
			position: relative;
			top: -5px;


