.menu-mobile
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
	pointer-events: none;
	font: 500 20px/20px $f-primary;
	&--opened
		pointer-events: auto;
		& ^[0]__overlay
			opacity: 1;
		& ^[0]__content
			left: 0;
	&__overlay
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.3);
		cursor: pointer;
		opacity: 0;
		transition: opacity .3s;
		&:before
			content: '';
			width: 16px;
			height: 16px;
			background: #fff no-repeat center center;
			background-size: 16px 16px;
			position: absolute;
			top: 10px;
			left: 270px;
	&__content
		position: absolute;
		top: 0;
		left: -260px;
		width: 260px;
		height: 100vh;
		overflow: auto;
		background: $c-primary;
		z-index: 2;
		transition: left .3s cubic-bezier(0.29, 0.26, 0.74, 0.68);
		> li
			border-bottom: 1px solid alpha($c-primary, .3);
			a
				padding: 10px 15px;
				color: #fff;
				width: 100%;
				display: inline-block;
				line-height: 1em;