.menu-mobile
	.menu-mobile__overlay
	.menu-mobile__content
		li
			a(href="#reviews") Отзывы
		li
			a(href="#references") Преимущества
		li
			a(href="#how-make") Как сделать фотокнигу
		li
			a(href="#delivery") Доставка и оплата
		li
			a(href="#ideas") Идеи для фотокниг


