.how-make
	margin-top: 205px;
	//@media screen and (max-width:400px)
	//	margin-top: 100px;
	&__row
		display: flex;
		margin-top: 72px;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: 16px;
		//@media screen and (max-width:920px)
		//	text-align: center;
	&__inner-row
		flex-basis: 25%;
		//@media screen and (max-width:920px)
		//	flex-basis: 100%;

	&__title
		font:700 60px/60px $f-primary;
		text-align: center;
		//@media screen and (max-width:400px)
		//	font:700 45px/60px $f-primary;
	&__subtitle
		font:700 30px/35px $f-primary;
		margin-top: 12px;
		margin-left: 4px;
	&__text
		font:500 20px/25px $f-primary;
		margin-top: 14px;
		margin-left: 4px;
		max-width: 250px;
		//@media screen and (max-width:920px)
		//	margin: 0 auto;
	&__img
		max-height: 98px;
		&-row
			position: relative;
			display: flex;
			justify-content: flex-end;
			img
				&:first-child
					align-self: baseline;
					position: relative;
					top: -103px;
					left: 92px;
					z-index: 2;
				&:last-child
					position: relative;
					top: -163px;
					left: 32px;
					z-index: 1;
			//@media screen and (max-width:920px)
			//	display: none;
		//img
		//	@media screen and (max-width:460px)
		//		width: 100%
	&__button
		margin: 65px auto;
		text-align: center;
		display: block;
		width: 200px;
		position: relative;
		left: -4px;
		border-radius: 20px;
		padding-bottom: 6px;
		z-index: 10;
		a
			font:500 20px/32px $f-primary;