mixin how-make(img,title,text)
	.how-make__inner-row
		.how-make__img
			img(alt="" src=img)
		.how-make__subtitle !{title}
		.how-make__text !{text}

.how-make
	h2(id="how-make").how-make__title Как сделать фотокнигу
	.how-make__row
		+how-make('assets/images/examples/1.png','Выбрать цвет обложки','Для вас представленна подборка самых актуальных цветов')
		+how-make('assets/images/examples/2.png','Выберите готовый макет страницы','Наши дизайнеры продумали идеальные варианты расположения фото')
		+how-make('assets/images/examples/3.png','А теперь просто добавьте фото','Добавлять можно любые фото, но желательно в&nbsp;хорошем качестве')
	a(href="https://sweetbook.su/constructor").how-make__button.button Создать фотокнигу
	.how-make__img-row
		img(alt="" src="assets/images/common/snowflake-blue.png")
		img(alt="" src="assets/images/common/4.png")

