
.global-row
	max-width: 1280px;
	margin: 0 auto;
	padding: 13px 60px 15px 60px;
	//@media screen and (max-width:360px)
	//	padding: 13px 15px 15px 15px;
	z-index: 2;
	position: relative;
.button
	background-color: $c-primary;
	border-radius: 16px;
	padding: 4px 19px;
	transition: background .2s linear,color .2s linear,opacity .2s linear;
	display: inline-block;
	&:hover
		background-color: $c-white;
		cursor:pointer;
		box-shadow: inset 0 0 0 2px $c-primary;
		color: $c-primary;

	color: $c-white;
	font:500 16px/24px $f-primary;
	text-decoration: none;
.pxl
	fill: #484848;
	&:hover
		fill: alpha(#484848,.5);
		transition: fill 0.4s linear;
.global-backgrounds
	position: absolute;
.g-common
	background-size: 100% 100%;
	height: 100%;
	background-repeat: no-repeat;
	width: 100vw;
	z-index: 1;
	background-position: center;

.header-bg
	background-image : url('../../assets/images/bg1/header.jpg');
	min-height: 600px;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
.dark-bg
	background-image : url('../../assets/images/bg1/3.jpg');
	min-height: 600px;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
.footer-bg
	background-image : url('../../assets/images/bg1/footer.jpg')
	min-height: 600px;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-position: bottom;
	margin-top: 615px;
.light-bg
	background-image : url('../../assets/images/bg1/2.jpg')
	min-height: 600px;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-top: 750px;
.gradient
	width: 100%;
	height: 100px;
	position: absolute;
	z-index: 1;
	background: linear-gradient(to bottom,rgba(255,255,255,0),#fff);
	bottom: 0;
.gradient--footer
	top: 0;
	background: linear-gradient(to top,rgba(255,255,255,0),#fff);
.bg
	width:145vw;

.no-adaptive-row
	min-width 1280px;
