//- Выбираем шаблон
extends  ../blocks/layouts/default


block head
	- var pageTitle = 'Sweetbook'



block content
	//- Шапка
	include ../blocks/header/header
	include ../blocks/slider/slider
	//- include ../blocks/block/block
	include ../blocks/reviews/reviews
	include ../blocks/references/references
	include ../blocks/how-make/how-make
	include ../blocks/delivery/delivery
	include ../blocks/ideas/ideas
	include ../blocks/scroller/scroller
	include ../blocks/footer/footer


