.header
	display: flex;
	justify-content: space-between;
	padding-left: 18px;
	padding-top: 7px;
	padding-right: 3px;
	//@media screen and (max-width: 570px)
	//	flex-wrap: wrap;
	&__logo-row
		position: relative;
		left: -59px;
		//@media screen and (max-width: 690px)
		//	left:0;
	//&__row
	//	@media screen and (max-width: 570px)
	//		flex-basis: 50%;
	//	@media screen and (max-width: 470px)
	//		flex-basis: 20%;
	//&__phone-row
	//	@media screen and (max-width: 570px)
	//		margin: 20px auto;
	&__logo
		color: $c-primary;
		font:700 30px/20px $f-primary;
		margin-top: 7px;
		//@media screen and (max-width: 400px)
		//	font:700 21px/20px $f-primary;
	&__button
		position: relative;
		right: -7px;
	&__menu
		display: flex;
		flex-wrap: wrap;
		margin-left: 2px;
		margin-top: 23px;
		//@media screen and (max-width: 1200px)
		//	display: none;
	&__item:not(:last-child)
		margin-right: 30px;
	&__item
		font: 500 20px/20px $f-primary;
		word-spacing: 4px;
		&--special
			word-spacing: 2.5px;
			margin-left: -7px;
		a
			color:#000;
	&__phone
		font: 500 20px/20px $f-primary;
		margin-right: 17px;
		margin-top: 18px;
		padding-right: 7px;
		//@media screen and (max-width: 400px)
		//	font: 500 18px/20px $f-primary;
	//&__burger
	//	display: none;
	//	cursor: pointer;
	//	background: #fff;
		//@media screen and (max-width: 1200px)
		//	display: flex;
		//	flex-direction: column;
		//	justify-content: space-between;
		//	height: 30px;
		//	cursor: pointer;
		//	background-color: transparent;
		//	span
		//		height: 5px;
		//		background-color: $c-primary;
		//		width: 50px;
		//		border-radius: 20px;
		//		display: block;
		//		&:not(:first-child) span
		//			margin-top: 10px;
