.header
	.header__row
		a(href="https://sweetbook.su/constructor").header__burger
			span
			span
			span
	.header__logo-row
		.header__logo Sweetbook
		ul.header__menu
			li.header__item
				a(href="#reviews") Отзывы
			li.header__item
				a(href="#references") Преимущества
			li.header__item.header__item--special
				a(href="#how-make") &nbsp;Как сделать фотокнигу
			li.header__item
				a(href="#delivery") Доставка и оплата
			li.header__item
				a(href="#ideas") Идеи для фотокниг

	.header__phone-row
		a(href="https://sweetbook.su/constructor").header__button.button Создать фотокнигу
		.header__phone +7 (343) 288 35 20
	include ../menu-mobile/menu-mobile