doctype html
html(lang="ru-RU")
	include ../head/head
	body
		//- Служебные переменные
		block settings
		.global-backgrounds
			.header-bg.bg
				.gradient
			.light-bg.bg
				.gradient
			.dark-bg.bg
				.gradient
			.light-bg.bg
				.gradient
			.footer-bg.bg
				.gradient.gradient--footer
		.no-adaptive-row
			.global-row

				//- Контентные блоки
				block content


		//- Скрипты
		script(src="assets/scripts/general.min.js")
