.slider
	position: relative;
	min-height: 582px;
	overflow: hidden;
	width: 659px;
	display: flex;
	height: 385px;
	margin-top: 119px;
	margin-left: 72px;
	justify-content: center;
	//@media screen and (max-width: 1120px)
	//	width: 560px;
	//@media screen and (max-width: 1000px)
	//	width: 500px;
	//@media screen and (max-width: 950px)
	//	width: 450px;
	//@media screen and (max-width: 920px)
	//	width: 659px;
	//@media screen and (max-width: 720px)
	//	width: 545px;
	//@media screen and (max-width: 670px)
	//	width: 510px;
	//@media screen and (max-width: 570px)
	//	width: 450px;
	//@media screen and (max-width: 500px)
	//	width: 400px;
	//@media screen and (max-width: 450px)
	//	width: 350px;
	//@media screen and (max-width: 400px)
	//	width: 300px;
	//@media screen and (max-width: 350px)
	//	width: 250px;
	//	margin-left: 0;
	//	min-height: 450px;
	&__wrapper
		width: 100%;
		display: flex;
		height: 100%;
	&__slide
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		flex-shrink: 0;
		text-align: center;
		&--active
			& ^[0]__row
				opacity: 1;
		img
			width: 80%;
			max-width 450px;
			max-height 600px;
	&__line
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: 30px;
	&__block
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: 50px;


	&__list
		display: inline-block;
		width: 48%;
		h4
			opacity: 0.9;
			font-size: 24px;
			font-weight: 500;
			color: #ffffff;
			padding-bottom: 11px;
			line-height: 1em;
			margin-bottom: 20px;
			border-bottom: 3px solid #d8d8d8;
			display: inline-block;
		li
			position: relative;
			color: #fff;
			line-height: 1.2em;
			max-width: 310px;
			padding-left: 15px;
			font-weight: 300;
			margin-bottom: 4px;
			&:last-child
				margin-bottom: 0;
			&:before
				position: absolute;
				content: '–';
				left: 1px;

	&__pagination
		position: absolute;
		right: 0;
		bottom: 210px;
		margin-left: 20px;
		width: 46%;
		display: flex;
		//@media screen and (max-width: 570px)
		//	bottom: 270px;
		& .swiper-pagination-bullet
			width: 10px;
			height: 10px;
			margin-right: 11px;
			border: solid 1px $c-primary;
			border-radius: 50%;
			cursor: pointer;
			position: relative;
			overflow: hidden;
			transition: background 0.3s ease;
			background-color: transparent;
			top: -3px;
			left: 10px;
			margin-left: 9px;
			//@media screen and (max-width: 1100px)
			//	left:-65px;
			&:last-child
				margin-right: 0;
			&:after
				content: '';
				position: absolute;
				bottom: 0;
				height: 0;
				left: 0;
				width: 100%;
				background-color: $c-primary;
				transition: height 0.3s ease;
		& .swiper-pagination-bullet-active
			cursor: default;
			border: solid 1px $c-primary;
			&:after
				height: 100%;

