.slider#slider.show
	.slider__wrapper
		.slider__slide
			img(alt="" src="assets/images/slider/2.png")
		.slider__slide
			img(alt="" src="assets/images/slider/3.png")
		.slider__slide
			img(alt="" src="assets/images/slider/2.png")
		.slider__slide
			img(alt="" src="assets/images/slider/1.png")
	.slider__pagination

