head
	//- Кодировка
	meta(charset='utf-8')

	//- Вьюпорт, если есть мобильная версия
	//- meta(name='viewport' content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0")

	//- Включаем последний режим IE
	meta(http-equiv='X-UA-Compatible' content='IE=edge')

	//- Mobile Internet Explorer позволяет принудительно активировать технологию ClearType для сглаживания шрифтов
	meta(name='cleartype' content='on')
	

	//- Этот мета-тег необходим для того, чтобы приложение открылось в полноэкранном режиме
	meta(name='apple-mobile-web-app-capable' content='yes')

	//- Корректируем верхнюю полоску в iPhone
	meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

	//- Фавиконки и описание
	//- http://realfavicongenerator.net
	link(rel="apple-touch-icon", sizes="180x180", href="/favicons/apple-touch-icon.png")
	link(rel="icon", type="image/png", sizes="32x32", href="/favicons/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="16x16", href="/favicons/favicon-16x16.png")
	link(rel="manifest", href="/favicons/manifest.json")
	link(rel="mask-icon", href="/favicons/safari-pinned-tab.svg", color="#2c9f3c")
	link(rel="shortcut icon", href="/favicons/favicon.ico")
	meta(name="apple-mobile-web-app-title", content="Экстрол")
	meta(name="application-name", content="Экстрол")
	meta(name="msapplication-config", content="/favicons/browserconfig.xml")
	meta(name="theme-color", content="#ffffff")



	
	block head
	title= pageTitle || ''
	meta(name='description' content=pageDescription || '')
	meta(name='keywords' content=pageKeywords || '')

	link(href='assets/styles/app.min.css' rel='stylesheet')
	link(href='assets/styles/fonts.css' rel='stylesheet')
	script(type="text/javascript" src="https://ajax.googleapis.com...")