.nav
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	&__input-row
		font:500 20px/35px $f-primary;
	&__properties
		display: none;
		//@media screen and (max-width:400px)
		//	margin-top: 120px;
	&__input
		display: none;
		&:checked
			& + .nav__label
				span
					color: $c-primary;
					border-bottom:none;
				& + .nav__properties
					display: block;
	&__label
		order: -1;
		cursor: pointer;
		user-select: none;
		position: relative;
		//@media screen and (max-width:767px)
		//	margin-bottom: 25px;
		//	@media screen and (max-width:767px)
		//		content: none;
		span
			margin-right: 25px;
			position: relative;
			border-bottom:1px dashed grey;
		&:hover
			span
				color: $c-primary;
		&:last-of-type
			span
				margin-right: 0;
	&__properties
		position: absolute;
		font:500 30px/40px $f-primary;
		margin-top: 95px;
		left: -3px;
		top: 13px;
		flex-basis: 50%;
		li
			display: flex;
			//@media screen and (max-width:1200px)
			//	flex-wrap: wrap;
	&__name
		font:700 30px/35px $f-primary;
		margin-top: 33px;
		margin-left: 3px;
	&__city
		color:#8c8c8c;
		font:500 20px/23px $f-primary;
		margin-left: 3px;
	&__item:not(:last-child)
		margin-right: 20px;
	&__img
		margin-top: 6px;
		margin-left: 40px;
		> img
			//@media screen and (max-width:460px)
			//	width: 250px;
			//	margin-left: 15px;
		//@media screen and (max-width:540px)
		//	margin-left: -40px;
	&__review-row
		flex-basis: 59%;
		min-width: 686px;
		//@media screen and (max-width:1200px)
		//	flex-basis: 100%;
		//	margin-top: 20px;
	&__text
		max-height: 450px;
		overflow: auto;
		max-width: calc(100vw - 80px);
		font:500 30px/40px $f-primary;
		//@media screen and (max-width:767px)
		//	font:500 26px/40px $f-primary;
		//@media screen and (max-width:750px)
		//	font: 500 20px/40px FuturaNew,sans-serif;
		//	margin-top: 57px;
		//	//max-width: 310px;
.reviews
	position: relative;
	margin-top: -26px;
	left: 18px;
	min-height: 742px;
	//@media screen and (max-width:1200px)
	//	min-height:1080px;
	&__nav
		display: flex;
		position: relative;
		top: -7px;
		left: 2px;
	&__img
		> img
			position: absolute;
			&:first-child
				right: 290px;
				top: 55px;
			&:last-child
				right: -40px;
				top: -59px;
	&__title
		font:700 60px/40px $f-primary;
		position: relative;
		z-index: 10;
		margin-bottom: 34px;
