mixin nav-tab(id,title,isCheck)
	if isCheck
		input(type='radio',id = id,name = 'tabs' checked).nav__input
		label(for=id).nav__label
			span #{title}
		block
	else
		input(type='radio',id = id,name = 'tabs').nav__input
		label(for=id).nav__label
			span #{title}
		block
-
	var testimonials = [
	{
		text: 'Получила свою книжку. Содержание – без сюрпризов, я же сама ее сделала. Но мне понравились материалы, из которых она сделана. Матовая бумага,  приятная наощупь обложка, мягкая такая. В итоге хорошенькая, милая,  уютная получилась книжка. Сейчас у нас скоро свадьба, и мы думаем, как заказать у ребят альбом чуть-чуть побольше.',
		name: 'Ольга',
		city: 'г.Владивосток',
		img: 'assets/images/reviews/1.png',
		isCheck: true,
		idNav: 'diff1'
	},
	{
		text: 'Второй отзыв',
		name: 'Мария Михайловна',
		city: 'г.Владивосток',
		img: 'assets/images/reviews/1.png',
		isCheck: false,
		idNav: 'diff2'
	},
	{
		text: 'Третий отзыв',
		name: 'Алексей',
		city: 'г.Владивосток',
		img: 'assets/images/reviews/1.png',
		isCheck: false,
		idNav: 'diff3'
	},
	{
		text: 'Четвертый отзыв',
		name: 'Виктор Анатольевич',
		city: 'г.Владивосток',
		img: 'assets/images/reviews/1.png',
		isCheck: false,
		idNav: 'diff4'
	},
	{
		text: 'Второй отзыв',
		name: 'Тимур Александрович',
		city: 'г.Владивосток',
		img: 'assets/images/reviews/1.png',
		isCheck: false,
		idNav: 'diff5'
	}
	];
.reviews(id="reviews")
	.reviews__row
		h2.reviews__title Отзывы
		.reviews__img
			img(alt="" src="assets/images/common/snowflake-blue.png")
			img(alt="" src="assets/images/common/1.png")
	ul.reviews__nav.nav
		each item in testimonials
			li.nav__item
				.nav__input-row
					+nav-tab(item.idNav, item.name, item.isCheck)
					ul.nav__properties
						li
							.nav__review-row
								.nav__text !{item.text}
								.nav__name !{item.name}
								.nav__city !{item.city}
							.nav__img
								img(alt="" src=item.img)





