.references(id="references")
	.references__title-row
		.references__title Преимущества
		.references__img
			img(alt="" src="assets/images/common/2.png")
	.references__img--flower
		img(alt="" src="assets/images/common/flower-gray.png")
	.references__row
		ul.references__menu
			li.references__description Срок
			li.references__description Качество фотографий
			li.references__description Процесс
			li.references__description Цена макета
			li.references__description Доставка

		ul.references__order.references__diff
			li.references__item-title.references__item На заказ
			li.references__item От четырех недель
			li.references__item Только профессиональные
			li.references__item Долгое согласование макета
			li.references__item От 5&nbsp;000 ₽ за макет
			li.references__item От 500 ₽ доставка по РФ

		ul.references__menu.references__menu--hidden
			li.references__description Срок
			li.references__description Качество фотографий
			li.references__description Процесс
			li.references__description Цена макета
			li.references__description Доставка

		ul.references__sweetbook.references__diff
			li.references__item-title.references__item Sweetbook
			li.references__item От 3 дней
			li.references__item Любые фотографии
			li.references__item Делайте, как вам нравится
			li.references__item 0 ₽ за макет
			li.references__item 0 ₽ доставка по РФ
	.references__img--bottom
		img(alt="" src="assets/images/common/3.png")