
.references
	position: relative;
	padding: 0 18px;
	&__title-row
		display: flex;
		justify-content: space-between;
		height: 74px;
	&__title
		font:700 60px/40px $f-primary;
		position: relative;
		z-index: 2;
		//@media screen and (max-width:520px)
		//	font:700 50px/40px $f-primary;
		//@media screen and (max-width:460px)
		//	font:700 30px/30px $f-primary;
	&__img
		position: relative;
		top: -61px;
		right: 90px;
		z-index:1;
		&--bottom
			position: absolute;
			left: 377px;
			top: 381px;
		&--flower
			position: absolute;
	&__row
		display: flex;
		justify-content: space-around;
		margin-top: 40px;
		z-index: 1000;
		position: relative;
		//@media screen and (max-width:1160px)
		//	flex-wrap: wrap;
	&__menu
		font:700 20px/25px $f-primary;
		margin-top: 104px;
		position: relative;
		&--hidden
			display: none;
		//@media screen and (max-width:1160px)
		//	display: block;
		//	flex-basis: 29%;
		//@media screen and (max-width:790px)
		//	display: none;
	&__description:not(:first-child)
		margin-top: 24px;
	&__diff
		background-color: #fff;
		box-shadow: 0 0 10px 1px lightgrey;
		padding: 35px 40px 45px 65px;
		flex-basis: 34%;
		margin-left: 70px;
		min-width: 380px;
		//@media screen and (max-width:520px)
		//	min-width: 300px;
		//@media screen and (max-width:480px)
		//	margin-left: 0;
		//@media screen and (max-width:320px)
		//	left:0 !important;
	&__order
		position: relative;
		left: 9px;
		//@media screen and (max-width:520px)
		//	min-width: 300px;
	&__sweetbook
		min-width: 385px;
		position: relative;
		left: 3px;
		> li
			&:not(:first-child)
				&:before
					content:"\2022";
					position: relative;
					left: -4px;
					color: $c-primary;
		//@media screen and (max-width:1160px)
		//	min-width: 380px;
		//	left: 9px;
		//@media screen and (max-width:520px)
		//	min-width: 300px;
	&__item
		font:500 20px/25px $f-primary;
		&:not(:first-child)
			margin-top: 24px;
			position: relative;
			left: -7px;
			&:before
				content:"\2022";
				position: relative;
				left: -4px;
		//@media screen and (max-width:520px)
		//	font:500 16px/10px $f-primary;
	&__item-title
		font:700 30px/35px $f-primary;
		margin-bottom: 35px;
		margin-left: 12px;
		//@media screen and (max-width:520px)
		//	font:700 22px/35px $f-primary;
