.slider-text
	position relative;
	max-width 400px;
	display flex;
	//@media screen and (max-width: 920px)
	//	flex-wrap: wrap;
	&__title
		font:700 75px/46px $f-primary;
		letter-spacing: -1.4px;
		//@media screen and (max-width: 540px)
		//	font:700 65px/46px $f-primary;
		//@media screen and (max-width: 480px)
		//	font:700 55px/46px $f-primary;
		//@media screen and (max-width: 360px)
		//	font:700 45px/46px $f-primary;
	&__inner-row
		margin-top: 89px;
		margin-left: 17px;
		flex-basis: 50%;
		&:first-child
			flex-basis: 35%;
		//@media screen and (max-width: 920px)
		//	flex-basis: 100%;
		//@media screen and (max-width: 480px)
		//	margin-top: 35px;
	&__description
		margin-top: 30px;
		font: 30px/35px $f-primary;
		max-width: 400px;
		//@media screen and (max-width: 540px)
		//	font:26px/35px $f-primary;
	&__ul
		margin-top: 41px;
		margin-left: 2px;
		li
			position: relative;
			font: 20px/28px $f-primary;
			&:before
				content: '\2022';
				color: $c-primary;
				position: absolute;
				left: -25px;
	&__price-wrapper
		margin-top: 53px;
		//@media screen and (max-width: 540px)
		//	width: 212px;
	&__button
		margin-left: 2px;
		padding: 9px 24px 8px 21px;
		border-radius: 20px;
	&__price-row
		margin-left: 24px;
		//@media screen and (max-width: 540px)
		//	margin-left: 0;
		//	margin-top: 15px;
	&__button-row
		//@media screen and (max-width: 480px)
		//	flex-basis:100%;
	&__price
		font: 30px/20px $f-primary;
		letter-spacing: -1.1px;
	&__delivery
		font: 16px/20px $f-primary;
		margin-top: 5px;
		margin-left: 3px;
	&__ul
		li
			&:before
				content:'\2022';
				color:$c-primary;
				position: absolute;
	&__price-wrapper
		display: flex;
		flex-wrap: wrap;
		>
		div
			flex-basis: 50%;
