.slider-text
	.slider-text__inner-row
		h2.slider-text__title Sweetbook
		.slider-text__description Пожалуй, лучший и самый простой конструктор фотокниг
		ul.slider-text__ul
			li.slider-text__item Фотокнига 15×15 сантиметров
			li.slider-text__item Объем 20 страниц.
			li.slider-text__item Твердая обложка из искусственной кожи.
			li.slider-text__item Сделайте за 15 минут!
		.slider-text__price-wrapper
			.slider-text__button-row
				a(href="https://sweetbook.su/constructor").slider-text__button.button Создать свою фотокнигу
			.slider-text__price-row
				.slider-text__price 1 990 ₽
				.slider-text__delivery Бесплатная доставка

	.slider-text__slider-text-wrapper
		include ../slider/swiper/swiper

