svg.pxl(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 360 100" height="20")
	rect(x="20", y="40", width="20", height="20")
	rect(y="80", width="20", height="20")
	rect(x="40", y="60", width="20", height="20")
	path(d="M147.43,41.15a8.17,8.17,0,0,0-3.5.83,12.35,12.35,0,0,0-2.88,1.8V58.15a26.36,26.36,0,0,0,3.05.59,23.94,23.94,0,0,0,3.33.24,3.28,3.28,0,0,0,2.81-1.08,4.48,4.48,0,0,0,.8-2.74V45a4.42,4.42,0,0,0-.8-2.81A3.4,3.4,0,0,0,147.43,41.15Z")
	path(d="M248.38,41.15a8.17,8.17,0,0,0-3.5.83,12.35,12.35,0,0,0-2.88,1.8V58.15a26.36,26.36,0,0,0,3.05.59,23.94,23.94,0,0,0,3.33.24,3.28,3.28,0,0,0,2.81-1.08,4.48,4.48,0,0,0,.8-2.74V45a4.42,4.42,0,0,0-.8-2.81A3.4,3.4,0,0,0,248.38,41.15Z")
	path(d="M306.73,40.87a5.45,5.45,0,0,0-4,1.28,5,5,0,0,0-1.28,3.71v8.4A5,5,0,0,0,302.74,58a6.84,6.84,0,0,0,8,0A5,5,0,0,0,312,54.27v-8.4a5,5,0,0,0-1.28-3.71A5.45,5.45,0,0,0,306.73,40.87Z")
	path(d="M100,0H60V20H40V40H60V60H80V80H60v20H360V0Zm0,40H80V20h20Zm61,15.17q0,6-2.71,9.26t-8.67,3.23a39.25,39.25,0,0,1-4.48-.28,35.54,35.54,0,0,1-4.13-.69V80.64l-10,1.39V33.17h7.84l1,2.71q.9-.55,2.12-1.18a20.42,20.42,0,0,1,2.6-1.11,23.59,23.59,0,0,1,2.84-.8,13.53,13.53,0,0,1,2.84-.31q5.21,0,7.95,3.12T161,45ZM186.85,67l-6-9.37-6,9.37H164.85l10.76-17L165.13,33.17H175l5.9,9.23,5.9-9.23h9.85L186.15,50l10.76,17Zm25.61,0h-10V19.36l10-1.39ZM262,55.17q0,6-2.71,9.26t-8.67,3.23a39.24,39.24,0,0,1-4.48-.28,35.54,35.54,0,0,1-4.13-.69V80.64L232,82V33.17h7.84l1,2.71q.9-.55,2.12-1.18a20.42,20.42,0,0,1,2.6-1.11,23.59,23.59,0,0,1,2.84-.8,13.53,13.53,0,0,1,2.84-.31q5.21,0,7.95,3.12T262,45ZM283.42,44a23.81,23.81,0,0,0-4.16,2.36V67h-10V33.17h8.33l.69,3.26q.76-.48,1.91-1.11t2.39-1.18q1.25-.55,2.5-1a16.08,16.08,0,0,1,2.29-.66l.83,9.44Q286,42.82,283.42,44ZM322,54a18.34,18.34,0,0,1-.69,5.07,11,11,0,0,1-2.43,4.37,11.93,11.93,0,0,1-4.68,3.09,24.87,24.87,0,0,1-14.92,0,11.93,11.93,0,0,1-4.68-3.09,11,11,0,0,1-2.43-4.37,18.32,18.32,0,0,1-.69-5.07V46.15a18.44,18.44,0,0,1,.69-5,11,11,0,0,1,2.43-4.41,11.94,11.94,0,0,1,4.68-3.09,24.87,24.87,0,0,1,14.92,0,11.94,11.94,0,0,1,4.68,3.09,11,11,0,0,1,2.43,4.41,18.46,18.46,0,0,1,.69,5Z")

